$panelMain: #343A40;
$panelSecondary: #38424C;

.faqPanel {
  h4 {
    color: white;
  }

  p {
    margin: 0;
  }

  .card {
    .card-header {
      cursor: pointer;
    }

    background-color: $panelMain;
    text-align: right;
    color: white;
  }

  .card-body {
    background: #f3f3f3;
    color: #31373a;
  }

  .custom-box {
    text-align: right;
    background-color: $panelMain;
    color: white;

    p {
      direction: rtl;
    }
  }
  .header-top-currency-list {
    color: white;
    i {
      margin: 0 .5rem 0 .5rem;
      font-size: 13px;
    }

  }

}