@font-face {
    font-family: iransans;
    src: url('./fonts/eot/IRANSansWeb.eot');
    src: url('./fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('./fonts/woff/IRANSansWeb.woff') format('woff'),
    url('./fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: iransans;
    src: url('./fonts/eot/IRANSansWeb_Bold.eot');
    src: url('./fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    url('./fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    url('./fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: iransans;
    src: url('./fonts/eot/IRANSansWeb_Light.eot');
    src: url('./fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    url('./fonts/woff/IRANSansWeb_Light.woff') format('woff'),
    url('./fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
    font-weight: normal;
}


* {
    outline: none;
}

body {
    font-family: iransans, serif !important;
    background-image: url("./images/bg.jpg");
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

/*burger accordion*/
.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    right: 0;
    top: 0;
}

.btn.focus, .btn:focus {
    box-shadow: unset !important;
}

.dark-blue {
    background-color: #1e2841 !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #fdfdfd;
    height: 13% !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}



.btn-sun-moon button {
    height: 35px;
}

.btn-sunMoon-active {
    background-color: #ffffff40 !important;;
}

/*
signup-in page
*/
.controlled-tab-BTC {
    background-color: #28334E;
}

.controlled-tab-BTC.singRegister a {
    width: 50%;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #737F92;
}

.controlled-tab-BTC.singRegister a:hover {
    color: #737F92 !important;
}

.form-bg-darkBlue {
    background-color: #1E2841;
    padding: 1.6rem !important;
    text-align: right;
}

.form-bg-darkBlue .form-control {
    background-color: transparent;
    padding: 1.375rem 1.375rem;
    border: 1px solid #999c9e;
    text-align: right;
}

.form-bg-darkBlue .form-control:focus {
    background-color: transparent !important;
}

.form-bg-darkBlue label {
    color: #8c8c8c;
    font-size: 14px;
    position: relative;
    cursor: text;
    right: 18px;
    top: 43px;
    padding: 0 7px;
    background: #1e2841;
    transition: all .5s;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: unset !important;
    border-color: unset !important;
    border-bottom: 1px solid #3C78E0 !important;
}

.nav-tabs {
    border-bottom: unset !important;
}

.text-color {
    color: #8c8c8c;
}

.text-color:hover {
    color: #8c8c8c !important;;
}

.nav-tabs .nav-link {
    border: unset !important;
}

.custom-button-login {
    background-color: #376AC6 !important;
}

.custom-button-register {
    background-color: #243A66 !important;
    border: 0 !important;
}

.strengthLength {
    display: inline-flex;
    transition: all .3s;
    border-radius: 20px;
}

.custom-checkbox label {
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-top: 4px;
}

.custom-control-label::before {
    background-color: #1e2841 !important;
    width: 1.3rem !important;
    height: 1.3rem !important;
    top: 0.015rem !important;
}

.custom-control-label::after {
    width: 1.3rem !important;
    height: 1.3rem !important;
    top: 0.015rem !important;
}

#formBasicCheckbox {
    background-color: #0b2e13;
}


.dark-text-color {
    color: #545b6f;
}

/*order Open*/
#controlled-tab-tab-CancelAll {
    margin-right: auto;
    cursor: pointer;
    margin-left: 20px;
    width: unset;
}

#controlled-tab-tab-CancelAll::after {
    font-family: "Font Awesome 5 Pro", serif;
    font-weight: 300;
    content: "\f00d";
    margin-right: 5px;
    position: relative;
    top: 4px;
    font-size: 15pt;
}

.controlled-tab-BTC.orderOpenNav {
    direction: rtl;
}

.controlled-tab-BTC.orderOpenNav.nav-tabs {
    border-bottom: 1px solid #717171 !important;
}

.controlled-tab-BTC.orderOpenNav a {
    color: #5e7188;
    width: 9%;
    text-align: center;
    padding: 15px 0;
    white-space: nowrap;
}

.BTC-table table {
    background-color: #1E2841;
    direction: rtl;
    margin-bottom: 0;
}

.BTC-table table i {
    font-size: 15pt;
}

.BTC-table .table-dark thead th, .BTC-table tr {
    border-bottom: 1px solid #545b6f;
    color: #afb4c3;
    text-align: center;
}

.BTC-table .table-dark thead th {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}

.BTC-table .table-dark td {
    padding: 30px 0;
}

.paginate-orderOpen {
    background-color: #1E2841;
    color: #657171;
}

.paginate-orderOpen i {
    font-size: 19pt;
}

.paginate-orderOpen span {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.estimatedValue {
    background-color: #1E2841;
    padding-bottom: 1.1rem;
    padding-top: 1.1rem;

}

.estimatedValue h6 {
    color: #657171;
    margin-bottom: 0;
    margin-right: 10px;
}

.estimatedValue p {
    color: white;
    margin-bottom: 0;
    font-size: 15px;
}

.estimatedValue .badge-Currency {
    font-size: 13pt;
    color: white;
    background-color: #3c78e0;
    border-radius: 6px;
    display: flex;
    margin-left: 9px;
    padding: 5px 5px 2px;
    margin-right: 11px;
}

/*tradeHistory*/
.TradeHistory nav a {
    margin-right: 35px;
}

.TradeHistory .controlled-tab-BTC.orderOpenNav a {
    width: unset;
}

/*Home screen*/
.currency-left img {
    width: 38px;
    height: 38px;
}

.currency-left.active {
    background-color: #383f5c;
    border-left: 4px solid #3c78e0;
}

.currency-left {
    background-color: #1e2841;
    border-bottom: 1px solid #5c606b;
}

.currency-left .font-sm span {
    font-size: 13px !important;
}

.currency-left h4, .currency-left span {
    color: #87939a;
    margin-bottom: 0;
    font-size: 19px;

}

.currency-left.active h4, .currency-left.active span {
    color: white;
    font-size: 19px;
}

.currency-left .BTC-title {
    width: 97px;
}

.currency-left .BTC-title p {
    font-size: 16px;
    margin-bottom: 0;
}

.withdraw-bottom span, .withdraw-bottom span p {
    color: #87939a;
}

/*currency right*/
.currency-right img {
    width: 58px;
    height: 58px;
}

.currency-right .header-description-left h4, .currency-right .header-description-right h4 {
    color: #657171;
    font-size: 16pt;
}

.currency-right .header-description-left p, .currency-right .header-description-right p {
    color: white;
    font-size: 20pt;
}

.header-description {
    border-bottom: 1px solid rgba(142, 142, 142, 0.55);
}

.currency-right .BTC-Quoted {
    color: #737f92;
    line-height: 35px;

}

.currency-input-section input {
    background-color: #1e2841;
    color: white;
    text-align: right;
}

.form-control:focus {
    background-color: #1e2841 !important;

}

.input-group-text {
    cursor: pointer;
}

.currency-input-section .form-control:focus {
    color: white !important;
}

.currency-input-section .input-group-text {
    background-color: #243a66;
    color: #737f92;
    padding-left: 1.8rem;
    padding-right: 1.8rem;

}

.depositHistory .table-dark td, .depositHistory .table-dark th, .depositHistory .table-dark thead th {
    text-align: center;
    color: #d0d0d0;
}

.depositHistory .table-dark th {
    border-bottom: 1px solid #6b6a6a;
    color: #b5b5b5;
    font-size: 11pt;
}

.depositHistory table {
    background-color: rgb(30, 40, 65);
}

.depositHistory h2 {
    color: white;
}

.estimatedValue .controlled-tab-BTC.orderOpenNav a {
    margin-right: 10px;
}

.btc-home-nav a {
    width: unset !important;
    margin-right: 15px;
}

.withdraw-address form {
    direction: rtl;
}

.withdraw-address .custom-select {
    background: #2b354c;
    border: 1px solid #2b354c;
    color: white;
}

.withdraw-address label {
    float: right;
    color: white;
}

.withdraw-address .form-control {
    background-color: rgb(30, 40, 65);
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

footer {
    background-color: #1E2841;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
}

footer p {
    margin-bottom: 0;
    color: #b3adad;
}

@media (max-width: 560px) {
    .sm-container-width {
        max-width: 245px;
    }

    .BTC-table .table-dark thead th {
        padding: 20px 35px;
    }
}
/*---menu---*/
/*navBar sidebar*/
.navbar {
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 2s;
    z-index: 9999;
}

.nav-menu.active {
    right: 0;
    transition: all .5s;
}

.nav-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
    margin-right: 20px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
    list-style: unset;
    text-align: right;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.navbar{
    color: white;
}
.menu-bars{
    margin-left: 0;
}
.nav-menu-items::-webkit-scrollbar {
    width: 6px;
}

.nav-menu-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.nav-menu-items::-webkit-scrollbar-thumb {
    background: #41568c;
    border-radius: 10px;
}
.dropdown-item:hover {
    color: #d0e1ff !important;
    text-decoration: none !important;
    background-color: #042b8c !important;
}
.dropdown-menu{
    background: #1e2841 !important;
    color: white !important;
}
.dropdown-menu a{
    color: white;
    text-align: right;
}