@import "./css/cryptofont";

.homePanel {
  .bg-header {
    background-color: #38424c;
  }

  .dir-rtl {
    direction: rtl;
  }

  p {
    margin: 0;
    font-size:14px;
  }

  color: white;

  .header-top-currency-list {
    i {
      margin: 0 .5rem 0 .5rem;
      font-size: 13px;
    }
  }

  .recharts-wrapper {
    margin: 0 auto;
    position: relative;
  }

  .Inventory-amount {
    .sm-text {
      font-size: 13px;
    }

    background-color: #343A40;

    .recharts-surface {
      top: 0%;
    }
  }

  .Account-status {
    .list-group-item {
      text-align: right;
      border-radius: 0;
    }
  }

  .header-top-currency-list-table {
    tr {
      th {
        font-size: 13px;
      }

      th, td {
        text-align: center;
        vertical-align: middle;

        i {
          font-size: 18pt;
        }
      }
    }
  }
}
